body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  background-color: #000;
}
.timeline {
  position: relative;
  margin: 0px 0px 0px 0px;
  padding-top: 20px;
}
.timeline h1 {
  position: absolute;
  top: 10px;
  left: 0px;
  text-align: center;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-size: 1.2em;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 10px;
  letter-spacing: 2px;
}
.timeline .panel_container {
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 340px;
  background-color: #000;
}
.timeline .background_slider {
  top: 0px;
  position: absolute;
  width: inherit;
  height: inherit;
}
.timeline .background_slider img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.timeline .panel_slider {
  position: absolute;
  width: 100%;
  margin-top: 30px;
}
.timeline .panel {
  position: absolute;
  width: 340px;
}
.timeline .panel_content {
  padding: 75px 10px 0px 40px;
  position: relative;
}
.timeline .panel_content h2 {
  font-size: 1em;
  color: #fff;
  margin: 0px 0px 8px 0px;
}
.timeline .panel_content p {
  margin: 0px 0px 1em 0px;
  position: relative;
  color: rgba(255,255,255,0.55);
}
.timeline .panel_content .label {
  position: absolute;
  top: 12px;
  right: 0px;
  font-size: 4em;
  color: rgba(255,255,255,0.2);
  text-align: right;
  font-family: Georgia;
}
.timeline nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-allign: center;
  width: inherit;
  border-bottom: 5px solid #fff;
}
.timeline nav a {
  color: #fff;
  font-size: 0.9em;
  display: inline-block;
  padding: 5px 10px;
  border-color: #fff;
  border-style: solid;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 0px;
  border-top-width: 8px;
  text-decoration: none;
}
.timeline nav a:first-child {
  border-left-width: 8px;
}
.timeline nav a:last-child {
  border-right-width: 8px;
}
.timeline nav a.selected {
  background-color: rgba(255,255,255,0.55);
}
.arpanet {
  margin: 0px 0px 10px 0px;
}
.tcp {
  float: left;
  margin: 10px 20px 0px 0px;
}
.tcp_ip {
  float: left;
  margin-right: 20px;
}
.www {
  float: left;
  margin: 10px 15px 0px 0px;
}
.voip {
  float: right;
  margin: 10px 0px 0px 10px;
}
.telecommunications_usage {
  float: right;
  margin: 10px 30px 0px 10px;
}
.clear_both {
  clear: both;
}
@media screen and (max-width: 500px) {
  .timeline {
    margin: 0px;
    background: #000 url("../img/background_small.png") repeat center 0px;
  }
  .timeline h1 {
    text-align: center;
    font-size: 0.9em;
  }
  .timeline .panel_container {
    height: auto;
    background: none;
    filter: none;
    margin: 0px;
  }
  .timeline .panel_slider {
    position: static;
    height: auto;
  }
  .timeline .panel {
    width: auto;
    height: auto;
    position: static;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-bottom: 20px;
  }
  .timeline nav,
  .timeline .background_slider {
    display: none;
  }
  .timeline .panel:first_child {
    padding-top: 40px;
  }
  .timeline .panel_content {
    padding-top: 60px;
  }
  .timeline .panel_content .label {
    top: -10px;
    right: 10px;
  }
  .www {
    margin: 0px 25px 0px 0px;
  }
  .voip {
    margin: 10px 40px 0px 20px;
  }
  .telecommunications_usage {
    float: left;
    margin: 10px 15px 0px 0px;
  }
}
